$lightblue: #d1ecf1;
$darkerblue: #90cbb9;
$lightyellow: #fec925;
$darkeryellow: #d19c17;
$red: #d53f50;
$base: #f9e9cd;
$white: #feffff;

body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: $base;
}

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
}

button {
  color: $white;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: $red;
  border-radius: 50px;
  // padding: 10px 15px;
  width: 9vw;
  height: 7vh;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
}

#header {
  height: 10vh;
  background-color: $darkerblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  border-radius: 15px;
  width: 95vw;
}

.wrapper {
  position: relative;
}

.navi {
  height: 40px;
}

#infoi {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 300px;
}

#map {
  border-radius: 15px;
  // z-index: 10;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: $lightyellow;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: $darkerblue;
  border: 1px solid $lightblue;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: $white;
  color: $lightblue;
  transition: 0.3s ease background;
}

.error-message {
  background: $red;
  box-sizing: border-box;
  color: $white;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.locationCard a {
  font-family: "Beth Ellen", cursive;
  color: black;
  text-decoration: none;
}
.locationCard img {
  border: 2px solid black;
  width: 18vw;
}

.locationCard {
  border: 2px solid $darkerblue;
  background-color: $base;
  border-radius: 10px;
  // width: 35vw;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  // font-family: 'Ruthie', cursive;
  // font-family: 'Zhi Mang Xing', cursive;
  // font-family: 'Rouge Script', cursive;
  // font-family: 'Clicker Script', cursive;
  // font-family: 'Beth Ellen', cursive;
  // font-family: 'Zhi Mang Xing', cursive;
  // font-family: 'Homemade Apple', cursive;
  // font-family: 'Lemonada', cursive;
}

.locationCard-stevo {
  width: 15vw ;
  border: 2px solid black;
  background-color: $base;
}

.locationCard-stevo img {
  width: 150px;
  height: 150px;
}




.container {
  border: 5px solid $darkerblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  // position: relative;
  max-height: 100%;
  overflow: auto;
  width: 95vw;
  border-radius: 15px;
  background-image: url(../images/wes-background.jpg);
}

.container::-webkit-scrollbar {
  display: none;
}

.container-location-page {
  border: 5px solid $darkerblue;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  max-height: 100%;
  overflow: auto;
  border-radius: 15px;
  background-image: url(../images/wes-background.jpg);
  height: 80vh;
  
}

.container-location-page > img {
  width: 640px;
  height: 640px;
  border: 2px solid $darkerblue;
  border-radius: 15px;
}


.locationCard-solo {
  font-family: "Zhi Mang Xing", cursive;
  border-radius: 10px;
  width: 35vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $base;
  border: 2px solid $darkerblue;
  border-radius: 15px;
  padding: 25px;
}

.locationpopup {
  font-family: "Open Sans Condensed", sans-serif;
  display: none;
}

.mapboxgl-popup-close-button {
  width: 10px;
}

.mapboxgl-popup-content {
  background-color: $base;
  min-height: 700px;
  border-radius: 15px;
}

.mapboxgl-popup {
  transform: none !important;
  top: 15%;
  left: 10px;
  border-radius: 15px;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  display: none !important;
}

.aboutAnderson {
  border: 3px solid $darkerblue;
  border-radius: 15px;
  background-image: url(../images/wes-background.jpg);
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95vw;

}

// .about-text {
//   background-color: $base;
//   width: 75vw;
//   height: 50vh;
//   overflow: hidden;
//   border-radius: 15px;
//   border: 1px solid $darkerblue;
//   margin: 9%;
// }

.about-text {
  background-color: $base;
  flex: 1;
  border-radius: 15px;
  border: 1px solid $darkerblue;
  margin: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  align-content: center;
  font-family: "Open Sans Condensed", sans-serif;;

}