$lightblue: #75a9b6;
$darkerblue: #4487a1;
$lightyellow: #dcba32;
$darkeryellow: #d19c17;
$red: #d42c08;
$base: #e8d4d4;
$white: #feffff;

body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: 14px "Futura", Helvetica, Arial, sans-serif;
  background-color: $base;
}

a {
  color: $white;
}

#header {
  height: 5vh;
  background-color: $darkerblue;
  display: flexbox;
  align-items: center;
}

.header-list {
  display: flex;
  justify-content: space-around;
  font-size: larger;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
