<h1>Add your own Wes location</h1>

<form action="/locations/add" method="POST" id="form" enctype="multipart/form-data">

  <label for="placeName">Name</label>
  <input name="placeName" type="text" id="placeName">

  <label for="start">When was it built?</label>
  <input type="date" id="date" name="date" value="1788-07-22">

  <label for="description">Description</label>
  <input name="description" type="text" id="description">

  <label for="image">add an image </label>
  <input type="file" name="image" id="image">

  <label for="WesAnQuote">Add a Wes Anderson quote</label>
  <input type="text" name="quote" id="quote">

  <button type="submit">Add</button>
</form>


router.post("/locations/add", , (req, res) => {
let name = req.body.placeName;
let image = req.body.image;
let date = req.body.date;
let description = req.body.description;
let quote = req.body.quote;
let coordinates = req.body.coordinates.split(",");
console.log(coordinates);
Location.create({name, image, description})
.then(location => {
res.redirect("/");
})
.catch(error => {
console.log(error);
});