<div id="header">
    {{#if user}}
    <h2>Ahoy there, {{user.username}} <br>
        click an icon below to see all listings
    </h2>
    <a href="/locations/add" id="add-marker"><button>ADD</button></a>
    <a href="/logout"><button>LOGOUT</button></a>
    {{else}}
    <h2><a href="/user/login">LOGIN</a> or <a href="/user/signup">SIGN UP</a> to add your own listings
    </h2>
    {{/if}}
    <a href="/locations"><button>LOCATIONS</button></a>
    <a href="/"><button>MAP</button></a>
</div>

<div class="aboutAnderson">

    <div class="about-text">

        <h3>Wesley Wales Anderson </h3>
        <p>
            Wesley Wales Anderson was born on May 1, 1969 in Houston, Texas. His mother, Texas Ann (Burroughs), is an
            archaeologist
            turned real estate agent, and his father, Melver Leonard Anderson, worked in advertising and PR. He has two
            brothers, Eric and Mel. During childhood, Anderson also began writing plays and making super-8 movies.
            He was educated at Westchester High School and then St. John's, a private prep school in
            Houston, Texas, which was later to prove an inspiration for the film Rushmore (1998). Anderson attended the
            University of Texas in Austin, where he majored in philosophy. It was there that he
            met Owen Wilson. They became friends and began making short films, some of which aired on a local
            cable-access
            station. One of their shorts was Bottle Rocket (1993), which starred Owen and his brother Luke Wilson. The
            short was screened at the Sundance Film Festival, where it was successfully received, so much so that they
            received funding to make a feature-length version. Bottle Rocket (1996) was not a commercial hit, but it
            gained a cult audience and high-profile fans, which included Martin Scorsese. Success followed with films
            such as
            Rushmore (1998), The Life Aquatic with Steve Zissou (2004), The Royal
            Tenenbaums (2001) and an animated feature, Fantastic Mr. Fox (2009). The latter two films earned Anderson
            Oscar nominations. <br>
            <em>- IMDb Mini Biography By: Anonymous</em>

            <h3> Personal Quotes </h3>

            <ul>
                <li>
                    `Anytime I make a movie, I really have absolutely no idea how it's going to go over. I've had the
                    whole
                    range of different kinds of reactions.`
                </li>
                <li>
                    `Kids are always open to anything. It's very rare that a kid isn't extremely eager to make you
                    happy.`
                </li>
                <li>
                    `Any romantic feelings for a 12-year-old are like entering into a fantasy world.`
                </li>
            </ul>
        </p>
    </div>

    <div class="about-movie">

        <h3>
            Movies
        </h3>
        <ul>
            <li>
                <a href="https://www.imdb.com/title/tt0115734/">
                    1996: Bottle Rocket</a>
            </li>
            <li>
                <a href="https://www.imdb.com/title/tt0128445/">
                    1998: Rushmore</a>
            </li>
            <li>
                <a href="https://www.imdb.com/title/tt0265666/">
                    2001: The Royal Tenenbaums</a>
            </li>
            <li>
                <a href="https://www.imdb.com/title/tt0362270/">
                    2004: The Life Aquatic with Steve Zissou
                </a>
            </li>
            <li>
                2007: Hotel Chevalier
            </li>
            <li>
                <a href="https://www.imdb.com/title/tt2278388/"> 2007: The Darjeeling Limited
                </a>
            </li>
            <li>
                2009: Fantastic Mr. Fox
            </li>
            <li>
                2012: Moonrise Kingdom
            </li>
            <li>
                2014: The Grand Budapest Hotel
            </li>
            <li>
                2018: Isle of Dogs
            </li>
        </ul>
    </div>

    {{!-- <div class="about-text">
        <img src="../images/Wes_Anderson-20140206-85.jpg" alt="">
    </div> --}}
</div>