<div id="header">
    {{#if user}}
    <h2>Ahoy there, {{user.username}} <br>
        click an icon below to see all listings
    </h2>
    <a href="/locations/add" id="add-marker"><button>ADD</button></a>
    <a href="/logout"><button>LOGOUT</button></a>
    {{else}}
    <h2><a href="/user/login">LOGIN</a> or <a href="/user/signup">SIGN UP</a> to add your own listings
    </h2>
    {{/if}}
    <a href="/locations"><button>LOCATIONS</button></a>
    {{!-- <a href="/"><button>MAP</button></a> --}}
</div>

<div class="aboutAnderson">

    <div class="about-text">



        <h1>
            Wesley Wales Anderson
        </h1>
        <h5>
            Born: May 1, 1969 in Houston, Texas, USA
        </h5>

        <h3>Bio </h3>
        <p>
            Wesley Wales Anderson was born in Houston, Texas. His mother, Texas Ann (Burroughs), is an archaeologist
            turned
            real estate agent, and his father, Melver Leonard Anderson, worked in advertising and PR. He has two
            brothers,
            Eric and Mel. Anderson's parents divorced when he was a young child, an event that he described as the most
            crucial event of his brothers and his growing up. During childhood, Anderson also began writing plays and
            making
            super-8 movies. He was educated at Westchester High School and then St. John's, a private prep school in
            Houston, Texas, which was later to prove an inspiration for the film Rushmore (1998).

            Anderson attended the University of Texas in Austin, where he majored in philosophy. It was there that he
            met
            Owen Wilson. They became friends and began making short films, some of which aired on a local cable-access
            station. One of their shorts was Bottle Rocket (1993), which starred Owen and his brother Luke Wilson. The
            short
            was screened at the Sundance Film Festival, where it was successfully received, so much so that they
            received
            funding to make a feature-length version. Bottle Rocket (1996) was not a commercial hit, but it gained a
            cult
            audience and high-profile fans, which included Martin Scorsese.
            Success followed with films such as Rushmore (1998), The Life Aquatic with Steve Zissou (2004), The Royal
            Tenenbaums (2001) and an animated feature, Fantastic Mr. Fox (2009). The latter two films earned Anderson
            Oscar
            nominations.

            <em>- IMDb Mini Biography By: Anonymous</em>
        </p>
    </div>

    <div class="about-text">
        <h3>
            Trade Mark
        </h3>
        <ol>
            Makes obsessive and comedic use of rostrum camera insert shots, foregrounding the minutiae of books and
            other
            documents.
            Has ended all his movies with a slow-motion shot, with the exception of The Darjeeling Limited (2007).
            Just about the entire score of all of his movies, with the exception of The Darjeeling Limited (2007) and
            The
            Grand Budapest Hotel (2014), were composed by Mark Mothersbaugh.
            Frequently casts Owen Wilson, Luke Wilson, Jason Schwartzman, Andrew Wilson, Bill Murray, Kumar Pallana,
            Dipak
            Pallana, Brian Tenenbaum, Stephen Dignan, Bob Balaban, Tilda Swinton, Edward Norton, and Anjelica Huston.
            Likes to shoot with extremely wide-angle anamorphic lenses that exhibit considerable barrel distortion.
            Frequently uses a take/double take technique where he will show a character/action, quickly pan to another
            character/action, then pan back, usually with handheld camera.
            Movies often focus around a broken or unorthodox family circle
            At least one of his characters is usually a grown man seeking the approval of a parent or parent figure.
            Often includes songs by The Rolling Stones on the soundtracks of his films
            The titlecards are almost always in the font Futura Bold, most commonly in yellow color.
            A character giving a complex, lengthy explanation for humor
            Unique ways of introducing a large cast of characters
            Characters who are heavy on body language
            Quirky themes of white middle-class and upper-class issues
            Shots of the characters standing still and facing toward the screen with little to no emotion.
            Features many precisely centered, straight-on shots
        </ol>

    </div>

    <div class="about-text">
        <h3>
            Personal Quotes
        </h3>
        <ul>
            <li>
                `Anytime I make a movie, I really have absolutely no idea how it's going to go over. I've had the whole
                range of different kinds of reactions.`
            </li>
            <li>
                `Kids are always open to anything. It's very rare that a kid isn't extremely eager to make you happy.`
            </li>
            <li>
                `Any romantic feelings for a 12-year-old are like entering into a fantasy world.`
            </li>
        </ul>

        <h3>
            Movies
        </h3>
        <ol>
            <li>
                1994: Bottle Rocket - <em> `I love you but you do nott know what you are talking about` </em> - Sam, In
                Moonrise
                Kingdom
            </li>
            <li>
                1996: Bottle Rocket
            </li>
            <li>
                1998: Rushmore
            </li>
            <li>
                2001: The Royal Tenenbaums
            </li>
            <li>
                2004: The Life Aquatic with Steve Zissou
            </li>
            <li>
                2007: Hotel Chevalier
            </li>
            <li>
                <a href="https://www.imdb.com/title/tt2278388/">

                    2007: The Darjeeling Limited
                </a>
            </li>
            <li>
                2009: Fantastic Mr. Fox
            </li>
            <li>
                2012: Moonrise Kingdom
            </li>
            <li>
                2014: The Grand Budapest Hotel
            </li>
            <li>
                2018: Isle of Dogs
            </li>
        </ol>
    </div>


    <div class="about-text">
        <img src="../images/Wes_Anderson-20140206-85.jpg" alt="">
    </div>

</div>