<div id="header">
    <div class="header-list">
        <a href="/user/signup">Sign up</a>
        <a href="/user/login">Login</a>
        <a href="/secret">A secret test page</a>
        <a href="/logout">Logout</a>
        <a href="/locations">All locations</a>
        <a href="/locations/add" id="add-marker">Add a location</a>
    </div>
</div>

<div id='map' style='width: 100%; height: 90vh;'></div>