<div id="header">




    {{#if user}}

    <h2>Ahoy there, {{user.username}} <br>
        click an icon below to see all listings
    </h2>

    <a href="/locations/add" id="add-marker"><button>ADD</button></a>
    <a href="/logout"><button>LOGOUT</button></a>



    {{else}}
    <h2><a href="/user/login">LOGIN</a> or <a href="/user/signup">SIGN UP</a> to get involved</h2>



    {{/if}}

    <a href="/locations"><button>LOCATIONS</button></a>
    {{!-- <a href="/"><button>MAP</button></a> --}}






</div>

{{!-- <script src=“https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js”></script> --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="home-container">
    <div id='map' style='width: 100%; height: 90vh;'></div>
    <div id="ahoycontainer">
        <img src="../public/images/steveo.png" alt="steve">
    </div>


</div>