<div id="header">
    <div class="header-list">
        <a href="/user/signup">Sign up</a>
        <a href="/user/login">Login</a>
        <a href="/secret">A secret test page</a>
        <a href="/logout">Logout</a>
        <a href="/locations">All locations</a>
        <a href="/locations/add">Add a location</a>
    </div>
</div>


<div id='map' style='width: 100%; height: 90vh;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidGltYm90aW1iZXIiLCJhIjoiY2s2Z2s1aTU0MHltMzNrcXB3bjlnYWNyYiJ9.14z3LvxL-5ovU8Ur6CuJtw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/timbotimber/ck6gkirhv0tc41imrp5a44z9d'
    });
</script>