<div id="container">
    <a href="/user/signup">Sign up</a>
    <a href="/user/login">Login</a>
    <a href="/secret">A secret test page</a>
    <a href="/logout">Logout</a>
</div>
</div>

<h1>{{title}}</h1>
<h3>
    Welcome to {{title}}
</h3>

<p> <i>“What happened to your hand?"<br>
        "It got hit by a mirror." <br>
        "How'd that happen?"<br>
        "I lost my temper at myself.”</i> </p>

<img src="https://media.giphy.com/media/ERsONiMMHaA4o/giphy.gif" alt="stevzee">